#font-family: sans-serif;
.logo-container {
    text-align: center;
    padding: 40px 10px;
}
.logo-img {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}